language: php
php:
    - 5.6
    - 5.5
    - 5.4
    - 5.3

before_install:
    - sudo apt-get update
    - sudo apt-get install libzbar0 libzbar-dev
script:
    - export NO_INTERACTION=1
    - export REPORT_EXIT_STATUS=1
    - phpize
    - ./configure
    - make
    - make test
